---
import AdminLayout from '../../../layouts/AdminLayout.astro';import ResearchForm from '../../../components/admin/ResearchForm.astro';
---
<AdminLayout title="New research paper"><div class="admin-content"><ResearchForm mode="create"/></div></AdminLayout>
