---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import CertificationForm from '../../../components/admin/CertificationForm.astro';
---
<AdminLayout title="New certification" description="Add a completed credential or active learning track."><div class="admin-content"><CertificationForm mode="create" /></div></AdminLayout>

